<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      About App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12" size-sm="8" offset-sm="2">
                <ion-img class="your-img" src="https://vgraphs.com/images/agents/raze-avatar.jpg"></ion-img>
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>00000026188 - Class BL</ion-card-subtitle>
                        <ion-card-title>Achmad Ilyasa Nugraha</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        Project ini saya mengerjakan dibantu dengan modul tugas dan teman saya yaitu Yidan dan Farrel, Serta aplikasi ini tidak menggunakan libary luar.
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
